In [3]:
#LIST=List is a collection which is ordered and changeable. Allows duplicate members.


list = ["Vish","Visha","Vishal"]

In [5]:
print(list)

['Vish', 'Visha', 'Vishal']

In [6]:
#len() for determine functions items in list


print(len(list))

3

In [8]:
#type


print(type(list))

<class 'list'>

In [13]:
#index number-postive,negavtive index


print(list[2])
print(list[-2])

Vishal
Visha

In [32]:
#Range of Indexes
#return the items from position 1 to 3.
#item in position 3 is NOT included

list = ["Vish","Visha","Vishal"]
print(list[1:3])
print(list[:2])
print(list[2:])

#Range of Negative Indexes
print(list[-3:-1])

['Visha', 'Vishal']
['Vish', 'Visha']
['Vishal']
['Vish', 'Visha']

In [9]:
list = ["Vish","Visha","Vishal"]
if "Vishal" in list:
    print( "Yes")

Yes

In [5]:
#Change Value
list = ["Vish","Visha","Vishal"]
list[1] = "VishalK"
print(list)

['Vish', 'VishalK', 'Vishal']

In [7]:
#Insert
list.insert(2, "KVishal")
print(list)

['Vish', 'VishalK', 'KVishal', 'watermelon', 'Vishal']

In [12]:
#append
list.append("Kambale")
print(list)

['Vish', 'Visha', 'Vishal', 'orange', 'Kambale', 'Kambale']

In [16]:
#extend
list = ["Vish","Visha","Vishal"]
new = ["VISHAL", "KAMBALE", "SATARA"]
list.extend(new)
print(list)

['Vish', 'Visha', 'Vishal', 'VISHAL', 'KAMBALE', 'SATARA']

In [17]:
#remove
list.remove("Visha")
print(list)

['Vish', 'Vishal', 'VISHAL', 'KAMBALE', 'SATARA']

In [20]:
#remove index
list = ["Vish","Visha","Vishal","VISHAL", "KAMBALE", "SATARA"]
list.pop(1)
print(list)

#also using del keyword
del list[0]
print(list)

['Vish', 'Vishal', 'VISHAL', 'KAMBALE', 'SATARA']
['Vishal', 'VISHAL', 'KAMBALE', 'SATARA']

In [21]:
#Clear List
list.clear()
print(list)

[]

In [25]:
#using Loop
list = ["Vish","Visha","Vishal","VISHAL", "KAMBALE", "SATARA"]
for x in list:
    print(x)

Vish
Visha
Vishal
VISHAL
KAMBALE
SATARA

In [28]:
#upper()
list = [x.upper() for x in list]
print(list)

['VISH', 'VISHA', 'VISHAL', 'VISHAL', 'KAMBALE', 'SATARA']

In [31]:
#sort
list.sort()
print(list)

newlist = [21, 20, 12, 6, 12]
newlist.sort()
print(newlist)

newlist.sort(reverse = True)
print(newlist)

['KAMBALE', 'SATARA', 'VISH', 'VISHA', 'VISHAL', 'VISHAL']
[6, 12, 12, 20, 21]
[21, 20, 12, 12, 6]

In [33]:
#copy
seclist = list.copy()
print(seclist)

['KAMBALE', 'SATARA', 'VISH', 'VISHA', 'VISHAL', 'VISHAL']

In [35]:
#Join Two Lists
list1 = ["Vishal", "Vinay", "Kambale"]
list2 = [12, 6, 98]
list3 = list1 + list2
print(list3)

['Vishal', 'Vinay', 'Kambale', 12, 6, 98]

In [37]:
#Tuple - 
#collection which is ordered and unchangeable
# written with round brackets

tuple = ("i", "me", "my")
print(tuple)
print(len(tuple))

('i', 'me', 'my')
3

In [38]:
tuple = ("Vishal",)
print(type(tuple))

#NOT a tuple
tuple = ("Vishal")
print(type(tuple))

<class 'tuple'>
<class 'str'>

In [40]:
#Negative Indexing
tuple = ("i", "me", "my")
print(tuple[-1])

my

In [44]:
#Count method
tuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 7)
x = tuple.count(7)
print(x)

3

In [45]:
#index method
x = tuple.index(8)
print(x)

3

In [48]:
#Set -
#Set is a collection which is unordered, unchangeable, and unindexed.No duplicate members

#add
Vishal1 = {"visha", "Vishalk", "Vishal"}
Vishal1.add("Kambale")
print(Vishal1)

{'visha', 'Vishalk', 'Kambale', 'Vishal'}

In [52]:
#clear
Vishal1 = {"visha", "Vishalk", "Vishal"}
Vishal1.clear()
print(Vishal1)

set()

In [53]:
#copy
x = Vishal1.copy()
print(x)

set()

In [59]:
#difference
a = {"nano", "Vishal1", "google"}
b = {"google", "microsoft", "apple"}
c = a.difference(b) 
print(c)

{'nano', 'Vishal1'}

In [67]:
#discard
car = {"tata", "nano", "honda"}
car.discard("nano")
print(car)

#intersection
car = {"tata", "nano", "honda"}
b = {"google", "microsoft", "honda"}
c = car.intersection(b) 
print(c)

{'honda', 'tata'}
{'honda'}

In [70]:
#pop
b = {"tata", "nano", "honda"}
b.pop()
print(b)

#remove
car = {"tata", "nano", "honda"}
car.remove("tata")
print(car)

{'nano', 'tata'}
{'honda', 'nano'}

In [71]:
#Set symmetric_difference
c = car.symmetric_difference(b) 
print(c)

{'honda', 'tata'}

In [76]:
#Set union
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y) 
print(z)

#update
car = {"tata", "nano", "honda"}
b = {"google", "microsoft", "honda"}
c = car.update(b) 
print(car)

{'apple', 'google', 'microsoft', 'cherry', 'banana'}
{'google', 'tata', 'honda', 'nano', 'microsoft'}